@import "~@/assets/scss/variables.scss";
h1,h2,h3,h4,h5, button, .box>.title { font-family: "Fredoka One", cursive;
    letter-spacing: 1.5px; }
p{
    font-family: "Source Sans Pro", sans-serif; 
    font-size: smaller;
    color: $text-grey-7;
}
button{
    border-radius: 2rem;
    border: 1px solid transparent;
    padding: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: small;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.my-container{
    max-width: 1440px;
    margin: 0 auto;
}
.col-2-container{
    width: 900px;
    margin: 0 auto;
}
.btn-white{
    background-color: $bg-light;
    &:hover{
        background-color: $btn-yellow;
    }
}
.btn-yellow{
    background-color: $btn-yellow;
    &:hover{
        background-color: $bg-pink;
    }
}
.btn-pink{
    background-color: $bg-pink;
    &:hover{
        background-color: $btn-yellow;
    }
}
.tx-light{
    color: $text-light;
}
.tx-pink{
    color: $text-pink;
}
.tx-yellow{
    color: $text-yellow;
}