/* Background colors */
$bg-light: #FFFFFF;
$bg-light-transparent: #FFFFFF80;
$bg-light-2: #FAFAFA;
$bg-light-2-transparent: #F7F8FA;
$btn-yellow: #E9D758;
$bg-pink:#E56768;
$bg-pink-transparent: #DA5F60E6;
$btn-grey:#454545;
$btn-blue: #3D404F;
$bg-dark: #000000;
$bg-dark-tranparent: #000000CC;

//* Text colors *//

$text-light: #FFFFFF;
$text-light-transparent: #FFFFFF80;
$text-yellow:#E9D758;
$text-green: #79B530;
$text-pink:#E56768;
$text-grey-1:#8B8B8A;
$text-grey-2:#7F7F7F;
$text-grey-3:#74777B;
$text-grey-4:#70727E;
$text-grey-5:#5C5E6C;
$text-grey-6:#434959;
$text-grey-7:#454545;
$text-grey-8:#3D404F;
$text-grey-9:#3F3F3F;
$text-grey-10:#223441;
$text-dark-1:#252525;
$text-dark-2:#151515;
$text-dark-3:#000000;

/* Fill colors */
$fill-light:#FFFFFF;
$fill-mint:#69DE89;
$fill-green:#82B541;
$fill-pink:#E56768;
$fill-dark:#000000;

/* Border Colors */
$border-light:#FFFFFF;
$border-grey-1:#ECECEE;
$border-grey-2:#E5ECEF;
$border-grey-3:#EAEAEA;
$border-grey-4:#CCCCCC;
$border-yellow:#E9D758;
$border-green:#79B530;
$border-pink:#E56768;
$border-dark:#000000;
